
networks:
  default:
    name: "${INTERNAL_NETWORK}"

services:
  caddy:
    build:
      context: "./data/caddy"
      dockerfile: "caddy.Dockerfile"
      args:
        - CADDY_VERSION: "${CADDY_VERSION}"
    restart: unless-stopped
    ports:
      - "${CADDY_HTTP_PORT}:80"
      - "${CADDY_HTTPS_PORT}:443"
      - "${CADDY_HTTPS_PORT}:443/udp"
    environment:
      - DESEC_TOKEN="${DESEC_TOKEN}"
      - DESEC_DOMAIN="${DESEC_DOMAIN}"
      - CADDY_EMAIL="${CADDY_EMAIL}"
      - FORGEJO_WEB_PORT="${FORGEJO_WEB_PORT}"
    volumes:
      - "./data/caddy/conf:/etc/caddy"
      - "./data/caddy/site:/srv"
      - "./data/caddy/config:/config"
      - "./data/caddy/data:/data"
      - "./data/caddy/log:/var/log/"
