
networks:
  default:
    name: "${INTERNAL_NETWORK}"

services:
  dind:
    image: data.forgejo.org/oci/docker:dind
    hostname: docker
    container_name: 'dind'
    privileged: 'true'
    environment:
      DOCKER_HOST: dind
    command: ['dockerd', '-H', 'unix:///var/run/docker.socket', '-G', '$FORGEJO_RUNNER_GID']
    volumes:
      - ./data/forgejo_runner/dind:/var/run
    restart: 'unless-stopped'

  runner:
    image: "code.forgejo.org/forgejo/runner:${FORGEJO_RUNNER_VERSION}"
    depends_on:
      dind:
        condition: service_started
    container_name: 'runner'
    environment:
      DOCKER_HOST: "unix:///var/run/docker.socket"
    user: ${FORGEJO_RUNNER_UID}:${FORGEJO_RUNNER_GID}
    volumes:
      - ./data/forgejo_runner/data:/data
      - ./data/forgejo_runner/dind:/var/run
      - ./data/forgejo_runner/cache:/cache
      - ./data/forgejo_runner/config.yml:/config.yml
    restart: 'unless-stopped'

    command: '/bin/sh -c "sleep 5; forgejo-runner daemon --config /config.yml"'
    # command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'

