
networks:
  default:
    name: "${INTERNAL_NETWORK}"

services:
  docker-in-docker:
    image: docker:dind
    container_name: 'docker_dind'
    privileged: 'true'
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']
    restart: 'unless-stopped'

  runner:
    image: "data.forgejo.org/forgejo/runner:${FORGEJO_RUNNER_VERSION}"
    links:
      - docker-in-docker
    depends_on:
      docker-in-docker:
        condition: service_started
    container_name: 'runner'
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375
    # User without root privileges, but with access to `./data`.
    user: ${FORGEJO_RUNNER_UID}:${FORGEJO_RUNNER_GID}
    volumes:
      - ./data/forgejo_runner/data:/data
    restart: 'unless-stopped'

    command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'

